<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRgXyQe7Z7xE1K-h1SGXVm8HKmtRJWoiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>103947682506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tomoshimizu.socialmediaapp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-36631</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-36631.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103947682506:ios:594c1ccd4889e73272aa33</string>
</dict>
</plist>